* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main .logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 45px;
  color: white;
}
nav {
  width: 100%;
  /* height: 100%; */
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-size: 20px;
}
.navbar ul li {
  margin-left: 60px;
  transition: all 0.5s;
}
.navbar ul li:hover {
  color: rgb(186, 0, 0);
  cursor: pointer;
}
.a {
  width: 50%;
  height: 100%;
  /* border: 1px solid white; */
  padding: 10px;
}
.mybio {
  width: 50%;
  height: 85vh;
  /* border: 1px solid white; */
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-family: cursive;
}
.mybio p {
  font-size: 30px;
}
span {
  color: rgb(173, 0, 0);
}
.mybio h1 {
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  width: 200px;
  margin-top: 40px;
  --green: #fd391b;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(253, 46, 27, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(253, 27, 27, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(253, 46, 27, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
  color: #ff9b82;
  box-shadow: inset 0 0 10px rgb(198, 4, 4);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(253, 27, 27, 0.1) 40%,
    rgba(253, 27, 27, 0.1) 60%,
    transparent 100%
  );
}

button:hover:before {
  transform: translateX(15em);
}
.firstpage {
  display: flex;
  flex-direction: row;
}
.aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(4, 4, 4);
}
.photo {
  width: 50%;
  height: 100%;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding-top: 80px;
}
.photo img {
  border-radius: 50%;
  border: 1px solid white;
  transition: all 0.5s;
}
.photo img:hover {
  box-shadow: 1px 0.1px 50px white;
}
.aboutcontent {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.aboutcontent h1 {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: cursive;
}
.aboutcontent h3 {
  font-size: 25px;
  margin-bottom: 8px;
  font-family: cursive;
}
.aboutcontent p {
  font-size: 19px;
}
.skillspage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 4, 4);
}
.skillspage h1 {
  font-size: 55px;
  color: white;
  font-family: cursive;
  padding: 25px;
}
.skills {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  margin-bottom: 80px;
}
.frontend {
  width: 30%;
  height: 100%;
  /* border: 1px solid black; */
  color: white;
}
.backend {
  width: 30%;
  height: 100%;
  /* border: 1px solid black; */
  color: white;
}
.frontend ul {
  list-style: none;
}
.backend ul {
  list-style: none;
}
.frontend h4 {
  font-size: 25px;
  padding-bottom: 25px;
}
.backend h4 {
  font-size: 25px;
  padding-bottom: 25px;
}
.backend ul li {
  padding: 10px;
  font-size: 25px;
}
.frontend ul li {
  padding: 10px;
  font-size: 25px;
}

.contact {
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(4, 4, 4);
}
.contact h1 {
  font-size: 55px;
  padding-bottom: 20px;
  font-family: cursive;
}
.contact p {
  font-size: 20px;
  padding: 5px;
}

footer {
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 12px;
  background-color: rgb(4, 4, 4);
  color: white;
  padding: 5px;
}
.contact ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.contact ul li {
  padding: 15px;
  padding-top: 10px;
  font-size: 25px;
  transition: all 0.5s;
}
.contact ul li:hover {
  cursor: pointer;
}
.contact ul li:hover {
  color: rgb(202, 0, 0);
}
